version: '3.8'

services:
  vault:
    image: hashicorp/vault:1.15
    container_name: vault
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "00000000-0000-0000-0000-000000000000"
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
    ports:
      - "8200:8200"
    command: >
      server -dev
      -dev-root-token-id=${VAULT_DEV_ROOT_TOKEN_ID}

  config-server:
    build:
      context: ../config-server
    container_name: config-server
    depends_on:
      - vault
    environment:
      VAULT_TOKEN: "00000000-0000-0000-0000-000000000000"
      SPRING_PROFILES_ACTIVE: composite
    ports:
      - "8888:8888"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    command: ["start-dev", "--http-port=8081", "--import-realm"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KEYCLOAK_IMPORT: /opt/keycloak/data/import/statement-service-realm.json
    ports:
      - "8081:8081"
    volumes:
      - ./keycloak/realms:/opt/keycloak/data/import

  db:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: statementdb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build:
      context: ../statement-service
      dockerfile: docker/Dockerfile
    container_name: statement-service
    depends_on:
      - db
      - config-server
      - keycloak
    environment:
      SPRING_CONFIG_IMPORT: "configserver:http://config-server:8888"
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    volumes:
      - ../statement-service/files:/data/files
    secrets:
      - master_key

secrets:
  master_key:
    file: ./secrets/master-key

volumes:
  db-data:
